@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-custom bg-secondary text-lg text-primary         
}
}

@layer utilities {

    .navbar{

    }

    .btn-primary {
        @apply rounded-md text-white bg-tertiary
    }

    .btn-secondary {
       @apply underline underline-offset-8 items-center
    }

    .btn-tertiary {
        @apply rounded-md bg-secondary text-black w-[100px] h-[26px] justify-center place-content-center p-1
    }

    .input-primary {
        @apply text-primary mb-2 p-1 md:mb-5 w-[193px] h-[43px] md:w-[360px] md:h-[48px] rounded-md
    }

    .selected-primary {
        @apply text-primary mb-2 p-1 md:mb-5 mr-2 bg-fourty bg-opacity-50 w-[193px] h-[43px] md:w-[360px] md:h-[48px] rounded-md
    }
    
    .icon-black {
        color: black !important; /* Asegura que este estilo prevalezca */
      }
    
      .icon-red {
        color: #ef4444 !important; /* Usa Tailwind o un color personalizado */
      }
      
}

/* css puro */

.anyBox{
    display: grid;    
    align-items: center;    
    }


.bg-image-home {
    background-image: url('')
}



